
data/raw/*.csv
data/processed/
models/*.pkl
mlruns/
mlflow.db

*.mp4
*.gif
*.xml
*.png
energydata_complete_v1.csv

.config/
sample_data/
local_repo/

!.gitignore
!data/raw/.gitignore
!data/raw/iris.csv.dvc
