# Данные (НЕ в Git, только в DVC)
data/raw/iris.csv
data/processed/

# Видео и временные файлы
*.mp4
*.gif
*.png
*.xml
energydata_complete_v1.csv

# Папки
.config/
sample_data/
local_repo/
mlruns/
mlflow.db

# Модели
models/*.pkl
